<!DOCTYPE html>
<html>
  <head>
    <title>Manacá</title>
    <link rel="icon" href="<%= image_path 'favicon.png' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <section id="banner">
      <div class="banner">
        <div class="banner-content">
          <h4 class="banner-text">Antecipe já!</h4>
          <h4 class="banner-text">Rápido, fácil e transparente.</h4>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="col-12 offset-sm-3 col-sm-6">
        <div class="invoice-wrapper">
          <%= image_tag 'manaca-icon.png', class: 'invoice-wrapper-logo' %>
          <%= yield %>
        </div>

        <section id="hashtags">
          <div class="hashtags-box">
            <span class="hashtags-promo">#AGenteConfiaAntes</span>
            <span class="hashtags-promo">#AntecipeSeuSucesso</span>
          </div>
          <div class="hashtags-box">
            <span class="hashtags-promo">#semTAC</span>
            <span class="hashtags-promo">#semTED</span>
            <span class="hashtags-promo">#semIOF</span>
          </div>
          <div class="hashtags-box">
            <span class="hashtags-promo">#ZeroTaxaBoleto</span>
            <span class="hashtags-promo">#ZeroTaxaConsultaSerasa</span>
          </div>
        </div>
      </div>
    </div>


    <div class="container">

      <section id="parceiros">
        <h2 class="secondary-title text-center">Parceiros</h2>
        <div class="row parceiros">
          <div class="col-12 col-sm-6 col-md-3">
            <%= image_tag "itau.svg", class: 'logo-parceiros' %>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <%= image_tag "serasa-experian-logo.png", class: 'logo-parceiros' %>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <%= image_tag "crdc_horiz-01.jpg", class: 'logo-parceiros' %>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <%= image_tag "logotipo.png", class: 'logo-parceiros' %>
          </div>
        </div>
      </section>

      <section id="depoimentos">
        <h2 class="secondary-title text-center">Depoimentos</h2>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="testimonial-wrapper">
              <p class="testimonial-text">“Muito impressionado com a transparência e simplicidade. Sabia exatamente qual era o custo e quanto ia receber. Recomendo”</p>
              <p class="testimonial-author">Marcos R.</p>
              <p class="author-position">Empreendedor - Indústria Metalúrgica</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="testimonial-wrapper">
              <p class="testimonial-text">“O customer service da Manacá tem sido excelente e facilitou o meu dia dia. A combinação de tecnologia e pessoas faz com que a antecipação seja bastante rápida”</p>
              <p class="testimonial-author">Pamela C.</p>
              <p class="author-position">Gerente Financeira - Alimentos e Bebidas</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="testimonial-wrapper">
              <p class="testimonial-text">“A melhor taxa que encontrei”</p>
              <p class="testimonial-author">Murilo A.</p>
              <p class="author-position">Diretor Financeiro - Tecnologia da Informação</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
